.services {
    background-color: darkcyan;
    margin: 50px;
    padding: 15px;
    border-radius: 15px;
}

.head {
    text-align: center;
    font-size: 30px;
    color: aquamarine;
}

.doctor {
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 15px;
    margin: 30px;
    position: relative;
    box-shadow: 5px 5px black;
}

.doctor:hover {
    background-color: rgb(246, 159, 113);
    color: rgb(17, 35, 152);
    box-shadow: 10px 10px rgb(67, 5, 5);
}

.doctor>h3{
    font-size: 30px;
}

.paragraph {
    display: flex;
    font-size: 20px;
    gap: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.message {
    background-color: aqua;
    color: rgb(20, 20, 0);
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    font-size: 15px;
    line-height: 20px;
}

@media (max-width: 576px) {
    .paragraph{
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
        justify-content: center;
        
    }
    .doc {
        width: 50%;
        margin-top: -80px;
        border-radius: 10px;
    }
}